<!-- views/partials/header.ejs -->


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center bg-secondary mb-3">
            <h1 class="display-3 text-white" style="padding-top: 0.3em;"> Drainage Monitoring System </h1>
            <br />
        </div>
    </div>
</div>




<!-- <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                EJS Is Fun
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    
    </div>
    </nav> -->